<!DOCTYPE html>
<html>

<head>
  <title>
  </title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/nav-bar.css" />
  <link rel="stylesheet" href="/stylesheets/googleMapsStyle.css" />
</head>

<body>
  <!--Nav-Bar-->
  <nav class="navbar navbar-fixed-left navbar-minimal animate" role="navigation">
    <div class="navbar-toggler animate">
      <span class="menu-icon"></span>
    </div>
    <ul class="navbar-menu animate">
      <li>
        <a href="#about-us" class="animate">
          <span class="desc animate"> Home </span>
          <span class="glyphicon glyphicon-home"></span>
        </a>
      </li>
      <li>
        <a href="#about-us" class="animate">
          <span class="desc animate"> About </span>
          <span class="glyphicon glyphicon-user"></span>
        </a>
      </li>
      <li>
        <a href="#about-us" class="animate">
          <span class="desc animate"> Favourite Beers & Receipes </span>
          <span class="glyphicon glyphicon-star"></span>
        </a>
      </li>
      <li>
        <a href="#contact-us" class="animate">
          <span class="desc animate"> Search </span>
          <span class="glyphicon glyphicon-search"></span>
        </a>
      </li>
      <li>
        <a href="#blog" class="animate">
          <span class="desc animate"> Login </span>
          <span class="glyphicon glyphicon-log-in"></span>
        </a>
      </li>
      <li>
        <a href="#blog" class="animate">
          <span class="desc animate"> Logout </span>
          <span class="glyphicon glyphicon-log-out"></span>
        </a>
      </li>
      <li>
        <div class="logo">
          <div class="text-logo">
            <span class="vertical-text">cloneBeer</span>
          </div>
          <img class="rotate-img" src="/images/cloneBeer-icon.png" alt="cloneBeer" height="42" width="42">
          <span class="vertical-text">=</span>
          <img class="rotate-img" src="/images/cloneBeer-icon.png" alt="cloneBeer" height="42" width="42">
        </div>
    </ul>
  </nav>

  <!--Google Map-->

      <div id="map">
      </div>



  <%- body %>

    <!--Google Maps API-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAiAmPifRiLMkZyixbAq2uAi1CVqsKWS4"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"></script>
    <script src="/javascript/nav-bar.js"></script>
   
    <script src="/javascript/index.js"></script>
     <script type='text/javascript' src='https://www.gstatic.com/charts/loader.js'></script>
</body>

</html>