<input id="check" type="checkbox">
<label class="glyphicon glyphicon-chevron-left move-list-icon" for="check"></label>

<div class="breweries-list">

  <h3 class="breweries-list-title ">Top Breweries</h3>
  <div class="panel-group border-0" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default border-0">
      <div class="panel-heading border-0" role="tab" id="headingOne">
        <h4 class="panel-title brewery-item  border-0">
          <a class="brewery-name" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Mahou
        </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in  border-0" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body  border-0">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
          non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
          aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
          craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
          occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
          labore sustainable VHS.
          <div>
          <span class="glyphicon glyphicon-link brewery-website"></span><a class="brewery-website" href="www.mahou.com">www.mahou.com</a> 
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default  border-0">
      <div class="panel-heading  border-0" role="tab" id="headingTwo">
        <h4 class="panel-title brewery-item  border-0">
          <a class="collapsed brewery-name" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
            aria-controls="collapseTwo">
          Sagra
        </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse  border-0" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body  border-0">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
          non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
          aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
          craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
          occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
          labore sustainable VHS.
        </div>
      </div>
    </div>
    <div class="panel panel-default  border-0">
      <div class="panel-heading  border-0" role="tab" id="headingThree">
        <h4 class="panel-title brewery-item  border-0">
          <a class="collapsed brewery-name" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false"
            aria-controls="collapseThree">
          Cibeles
        </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse  border-0" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body  border-0">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
          non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
          aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
          craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
          occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
          labore sustainable VHS.
        </div>
      </div>
    </div>
  </div>